<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <span>Una vez, al filo de una lúgubre media noche...</span>
    </header>
    <button>HELL IS EMPTY</button>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tenetur quae voluptatibus unde
        esse pariatur
        laudantium et odit nulla vero dicta consequatur, nam, quos nostrum.</p>
    <label for="age">Intoduce tu edad y te digo si eres menor o mayor de edad</label>
    <input type="number" name="age" id="age" min="18" max="100" value="14">
    <p class="paragraph">Eres: </p>
















<script src="/js/main.js"></script>


</body>





</html>