<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>menu</title>
</head>

<body>

    <head>
        <h1 class="loading">NOX STORE</h1>
       
    </head>
    <section class="paragraph">
        <p class="paragraph__title">"Sólo hay una guerra que puede permitirse el ser humano: la guerra contra su
            extinción" </p>
        <p class="paragraph__title--1"> "dark-tempus@hotmail.com" </p>
    </section>
    <figure>
        <img src="/5.jpg" alt="" srcset="">
        

    </figure>
    <p class="robot">
        'Un robot debe proteger su propia existencia'</p>
</section>


    <section class="image">

        <img src="/335c21695f2d1bae356b8967bdaacbae.png" alt="" srcset="">
        <img src="/122.jpg" alt="" srcset="">
        <img src="/Cyberpunk-2077.jpg" alt="" srcset="">
        <img src="/file.jpg" alt="" srcset="">
        <img src="/paga-.jpg" alt="" srcset="">
        <img src="/5.jpg" alt="" srcset="">

   
    </section>
    
    <section>
     


    <script src="/js/main.js"></script>
</body>

</html>