<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <picture>
        
        <img alt="YOUR-ALT-TEXT" src="https://drive.google.com/file/d/1JHyHxSo5UMdJ3B_bB8m-g7ABmd3roOsT/view?usp=share_link">
       </picture>
<!-- 
        (&&&&&&&&&&&&&&&&  %&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
        (&&&   &&&&&&&     .  &&&&&&&&&&&             &&&&&&&&&&&&&&  &&&&&&&&&&&  &&&&&
        &&&&  *   &&&&&&&  &&&&&&&&&&&&&  &&&&&&&&&&%  &&&&&&&&&&&&&   &&&&&&&&&&  &&&&&
        (&&&  &&&   &&&&&  &&&&&&&&&&&&&  &&&&&&&&   &&&&&&&&&&&&&&&&&   &&&&&   &&&&&&&
        (&&&  &&&&&&   &&  &&&&&&&&&&&&&  &&&&&   %&&  &&&&&&&&&&&&&&&&&&   & .&&&&&&&&&
        #&&&  &&&&&&&&*   &&&&&&&&&&&&&&  &&&   &&&&&  &&&&&&&&&&&&&&&&&& &/  .&&&&&&&&&
        (&&&  &&&&&&&&&&&  &&&&&&&&&&&&&&&   &&&&&&&&  &&&&&&&&&&&&&&&   &&&&&   &&&&&&&
        &&&&  &&&&&&&&&&&  &&&&&&&&&&&&&  #&&&&&&&&&&  &&&&&&&&&&&&&  .&&&&&&&&&&  &&&&&
        (&&&  &&&&&&&&&&&  &&&&&&&&&&&&&&             &&&&&&&&&&&&&&  &&&&&&&&  (  &  &&
        (&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*   &&&&
        %&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

     -->
     <a href="mailto:dark.tempus@gmail.com">✔</a>
</body>
</html>


